<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title|upper }}</title>
</head>
<body>
<ul>
<li><a href="{% url 'home' %}"> Главная страница</a></li>
{% for m in menu %}

{% if not forloop.last %}
<li>
{% else %} <li class='last'>
{% endif %}
<a href="{% url m.url_name %}">{{ m.title }}</a>
</li>
{% endfor %}
</ul>


{% for item in posts %}
<ul>
<li >{{item.name}} 

<p><a href="{% url 'post' item.id %}">Читать пост</a></p>
{% if not forloop.last  %}
<hr>
{% endif %}
</li>
</ul>
{% endfor %}




    
</body>
</html>